.form-group {
  width: 50%;
  border: none;
  margin: auto;
  height: 1060px;
  background-color: aliceblue;
  border-radius: 8px;
  box-shadow: 5px 10px 18px #888888;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form-container label {
  text-align: left;
  margin-left: 35px;
}

.form-title {
  background-color: #909090;
  border-radius: 5px 5px 0 0;
  margin-bottom: 20px;
  color: white;
}

.form-title h3 {
  margin: 10px;
}

.form-control {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}

.btn-secondary {
  box-shadow: 0px 10px 20px -10px #606e70;
  background-color: #30b6e3;
  border-radius: 10px;
  border: 3px solid #c1d3de;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  margin-right: 20px;
}
.btn-secondary:hover {
  background-color: #a4c7ed;
}
.btn-secondary:active {
  position: relative;
  top: 5px;
}

.btn-primary {
  box-shadow: 0px 10px 20px -10px #606e70;
  background-color: #30b6e3;
  border-radius: 10px;
  border: 2px solid #c1d3de;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Recursive";
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  margin-top: 20px;
}
.btn-primary:hover {
  background-color: #a4c7ed;
}
.btn-primary:active {
  position: relative;
  top: 5px;
}

.select-container {
  margin-bottom: 120px;
}

.select-container select {
  width: 90%;
  height: 35px;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}
