.App {
  text-align: center;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
header {
  height: 45px;
  background: none;
}
footer {
  background: #000000;
}

/* Trick: */
body {
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 250px; /* Set same as footer's height */
  /* background-color: #000000; */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
