html {
  align-items: center;
  text-align: center;
  height: 100%;
  font-family: "Recursive", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
      347deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(110, 82, 157, 1) 0%,
      rgba(113, 83, 157, 1) 0%,
      rgba(122, 86, 156, 1) 30%,
      rgba(217, 123, 147, 1) 100%
    )
    fixed; */
  /* background-size: 50px 50px;
  background-color: #653;
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2) 50%,
    transparent 50%,
    transparent
  ); */
}

body {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #00fa9a
  );
  background-size: 400% 400%;
  animation: gradient 180s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
}

input {
  font-family: "Recursive", sans-serif;
}

button {
  font-family: "Recursive", sans-serif;
}

select {
  font-family: "Recursive", sans-serif;
}
