.admin-form {
  background-color: #fff;
  margin: auto;
  width: 30%;
  height: 640px;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.admin-title {
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: 30px;
}

.admin-label {
  float: left;
  padding-left: 20px;
  font-size: 18px;
  padding-bottom: 20px;
}

.admin-btn:hover {
  background-color: #a4c7ed;
}
.admin-btn:active {
  position: relative;
  top: 5px;
}

.admin-container {
  border-radius: 5px;
  margin: auto;
  margin-top: 80px;
  background-color: white;
  /* background-color: #f2f2f2; */
  padding: 20px;
  width: 50%;
  margin-bottom: 50px;
}

input[type="file"] {
  width: 95%;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: vertical;
}
