.login-form {
  background-color: white;
  margin: auto;
  width: 20%;
  height: 350px;
  border-radius: 3px;
  margin-top: 50px;
  text-align: center;
}

.login-title {
  font-size: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-label {
  float: left;
  padding-left: 40px;
  font-size: 18px;
}

.login-form input {
  width: 75%;
  font-size: 15px;
  padding: 8px;

  border: none;
  border-bottom: 1px solid #303030;
  margin-bottom: 20px;
}

.login-btn {
  background-color: #303030;
  border-radius: 100px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  padding: 8px 30px;
  text-decoration: none;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: #a4c7ed;
}
.login-btn:active {
  position: relative;
  top: 5px;
}

/* ///////////////////////////////////////////////////////////////// */
