.App {
  text-align: center;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
header {
  background: none;
}

/* Trick: */
body {
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 200px; /* Set same as footer's height */
  margin-top: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
