html {
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: #f0f2f5;
}

body {
  margin: 0;
}

input {
  font-family: "Recursive", sans-serif;
}

button {
  font-family: "Recursive", sans-serif;
}

select {
  font-family: "Recursive", sans-serif;
}
